---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/current?country=US&key=6a4dfbb6c3924ce0840963c18682fc8b&postal_code=96146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '999'
      X-Ratelimit-Reset:
      - '1609199999'
      X-Proxy-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"rh":98,"pod":"n","lon":-120.1954,"pres":798.8,"timezone":"America\/Los_Angeles","ob_time":"2020-12-28
        07:15","country_code":"US","clouds":100,"ts":1609139700,"solar_rad":0,"state_code":"CA","city_name":"Sunnyside-Tahoe
        City","wind_spd":0.5,"wind_cdir_full":"north-northwest","wind_cdir":"NNW","slp":963.9,"vis":1.5,"h_angle":-90,"sunset":"00:46","dni":0,"dewpt":-4.3,"snow":20,"uv":0,"precip":2,"wind_dir":347,"sunrise":"15:19","ghi":0,"dhi":0,"aqi":93,"lat":39.1752,"weather":{"icon":"s02n","code":601,"description":"Snow"},"datetime":"2020-12-28:07","temp":-3.9,"station":"CF060","elev_angle":-69.21,"app_temp":-3.4}],"count":1}

'
  recorded_at: Mon, 28 Dec 2020 07:38:51 GMT
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80,41;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"UBuEiZ0bhIkrAAAAAAAAAOcAAAAAAAAAQyeOQQAAAAD7lb9CAAAAACsAAAAAAAAA5wAAAAAAAACwSAAAcjg7-0-bcQIATDv7QJxxAgcAbwYuFcth","distance":422.200315,"location":[-80.005006,40.999759],"name":""},{"waypoint_index":3,"trips_index":0,"hint":"FuWLiYbli4koAAAALAAAAAAAAAAAAAAAc9zeQf6e8UEAAAAAAAAAACgAAAAsAAAAAAAAAAAAAACwSAAAYAQv-1RMfwL6Ay_7Wkx_AgAATwAuFcth","distance":8.493713,"location":[-80.804768,41.897044],"name":"Lake
        Avenue"},{"waypoint_index":2,"trips_index":0,"hint":"H-WLiS3li4lCAAAAFQAAAAAAAAACAAAAXkFtQtZJkkEAAAAAn87DP0IAAAAVAAAAAAAAAAIAAACwSAAAjQ4v-9ZQfwLYDi_7jFB_AgAAjw4uFcth","distance":10.311095,"location":[-80.802163,41.898198],"name":"Bridge
        Street"},{"waypoin[...]
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.799026,41.88268;-80.805316,41.893181;-80.804983,41.889221;-80.797842,41.899429;-80.783744,41.900061;-80.777652,41.873102?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
     [...]
