---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/current?country=US&key=6a4dfbb6c3924ce0840963c18682fc8b&postal_code=96146
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '975'
      X-Ratelimit-Reset:
      - '1609027199'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"rh":98,"pod":"n","lon":-120.1954,"pres":802.6,"timezone":"America\/Los_Angeles","ob_time":"2020-12-26
        15:30","country_code":"US","clouds":100,"ts":1608996600,"solar_rad":0,"state_code":"CA","city_name":"Sunnyside-Tahoe
        City","wind_spd":2.6,"wind_cdir_full":"south-southwest","wind_cdir":"SSW","slp":1018.7,"vis":1.5,"h_angle":-90,"sunset":"00:44","dni":0,"dewpt":-2.8,"snow":20,"uv":0,"precip":2,"wind_dir":200,"sunrise":"15:18","ghi":0,"dhi":0,"aqi":38,"lat":39.1752,"weather":{"icon":"s02n","code":601,"description":"Snow"},"datetime":"2020-12-26:15","temp":-2.4,"station":"CF060","elev_angle":-4.09,"app_temp":-5.9}],"count":1}

'
  recorded_at: Sat, 26 Dec 2020 16:00:17 GMT
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80,41;-80.797666,41.900375;-80.807315,41.882113?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"xWuDiRJsg4krAAAAAAAAAOcAAAAAAAAAQyeOQQAAAAD7lb9CAAAAACsAAAAAAAAA5wAAAAAAAAClSAAAcjg7-0-bcQIATDv7QJxxAgcAbwZCsDLM","distance":422.200315,"location":[-80.005006,40.999759],"name":""},{"waypoint_index":1,"trips_index":0,"hint":"AjSLiQU0i4kAAAAACAAAAFIAAABMAAAAAAAAAKRnTEE0U8FCZR-LQgAAAAAIAAAAUgAAAEwAAAClSAAAHiAv-1dZfwIeIC_7V1l_AgMADw5CsDLM","distance":0,"location":[-80.797666,41.900375],"name":"Bridge
        Street"},{"waypoint_index":2,"trips_index":0,"hint":"dyyLiZ6D8IAAAAAAVQAAAGcAAAAcAAAAAAAAAJdovULLTuVCCe_5QQAAAABVAAAAZwAAABwAAAClSAAAbfou-wESfwJt-i77ARJ_AgIATw9CsDLM","distance":0,"location":[-80.807315,41.882113],"name":"West
        19th Street"}],"trips":[{"legs":[{"steps":[],"weight":7260.7,"distance":162985.2,"summary":"","duration":7260.7},{"steps":[],"weight":264.5,"distance":2706.3,"summary":"","duration":264.5},{"steps":[],"weight":7430.1,"distance":161255.5,"summary":"","duration":7430.1}],"weight_name":"routability","geometry":"owfyFh~hgNnG~dAqkAyvAqzDjvD{aSf{V}`Fp}Aq`CkeAhzBli]cd@fhD`Ghma@blEf|]sjKz`Foh[yoAm}N~|Acty@}[spMnvIyiJkGq_AnlBw}A~OdAb`BdqBh{@feAu{CaVw}BriJfGjsM_vIfoy@|\\j|N{|AhbYtpAyIg~ZdpIiC_`A{cIsFc{a@xc@quCedBm`\\pmBx_@`}EcpAhl@i~BrsQgkSpzDkvDpkAxvAoG_eA","weight":14955.3,"distance":326947,"duration":14955.3}]}'
  recorded_at: Sat, 26 Dec 2020 16:00:18 GMT
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.807315,41.882113;-80.787492,41.900144;-80.80487,41.89705;-80.802088,41.898124?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok[...]
