---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/current?country=US&key=6a4dfbb6c3924ce0840963c18682fc8b&postal_code=44004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '979'
      X-Ratelimit-Reset:
      - '1608508799'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"rh":91,"pod":"n","lon":-80.7947,"pres":990.9,"timezone":"America\/New_York","ob_time":"2020-12-20
        11:39","country_code":"US","clouds":0,"ts":1608464340,"solar_rad":0,"state_code":"OH","city_name":"Ashtabula","wind_spd":1,"wind_cdir_full":"southeast","wind_cdir":"SE","slp":1014.7,"vis":5,"h_angle":-90,"sunset":"21:55","dni":0,"dewpt":0.9,"snow":0,"uv":0,"precip":0,"wind_dir":140,"sunrise":"12:46","ghi":0,"dhi":0,"aqi":20,"lat":41.8679,"weather":{"icon":"c04n","code":804,"description":"Overcast
        clouds"},"datetime":"2020-12-20:11","temp":2.2,"station":"C7309","elev_angle":-19.05,"app_temp":1.7}],"count":1}

'
  recorded_at: Sun, 20 Dec 2020 12:04:18 GMT
recorded_with: VCR 6.0.0
