---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/current?country=US&key=6a4dfbb6c3924ce0840963c18682fc8b&postal_code=44004
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '982'
      X-Ratelimit-Reset:
      - '1609027199'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"rh":88,"pod":"d","lon":-80.7947,"pres":989,"timezone":"America\/New_York","ob_time":"2020-12-26
        15:29","country_code":"US","clouds":0,"ts":1608996540,"solar_rad":254.7,"state_code":"OH","city_name":"Ashtabula","wind_spd":0.45,"wind_cdir_full":"south-southwest","wind_cdir":"SSW","slp":1013.7,"vis":5,"h_angle":-36,"sunset":"21:58","dni":650.45,"dewpt":-8.8,"snow":0,"uv":3.16375,"precip":0,"wind_dir":211,"sunrise":"12:49","ghi":254.68,"dhi":73,"aqi":24,"lat":41.8679,"weather":{"icon":"c02d","code":802,"description":"Scattered
        clouds"},"datetime":"2020-12-26:15","temp":-7.2,"station":"C7309","elev_angle":16.9,"app_temp":-6.8}],"count":1}

'
  recorded_at: Sat, 26 Dec 2020 15:51:51 GMT
recorded_with: VCR 6.0.0
