---
http_interactions:
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.824458,41.885948;-80.797666,41.900375;-80.807315,41.882113;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"rxyRibEckYkMAAAAhAAAAE4AAAA3AAAAbQ8HQaQntkJHtllC8VUWQgwAAACEAAAATgAAADcAAACXSAAA8Lwu-_kgfwJ2ty77_CB_AgEADwD_PPAQ","distance":116.387499,"location":[-80.823056,41.885945],"name":"Eleanor
        Drive"},{"waypoint_index":3,"trips_index":0,"hint":"hyKRiYoikYkAAAAACAAAAFIAAABMAAAAAAAAAKRnTEE0U8FCZR-LQgAAAAAIAAAAUgAAAEwAAACXSAAAHiAv-1dZfwIeIC_7V1l_AgMADw7_PPAQ","distance":0,"location":[-80.797666,41.900375],"name":"Bridge
        Street"},{"waypoint_index":7,"trips_index":0,"hint":"ARuRiRvX8IAAAAAAVQAAAGcAAAAcAAAAAAAAAJdovULLTuVCCe_5QQAAAABVAAAAZwAAABwAAACXSAAAbfou-wESfwJt-i77ARJ_AgIATw__PPAQ","distance":0,"location":[-80.807315,41.882113],"name":"West
        19th Street"[...]
