---
http_interactions:
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.824458,41.885948;-80.797666,41.900375;-80.807315,41.882113;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"KS6LiSsui4kMAAAAhAAAAE4AAAA3AAAAbQ8HQaQntkJHtllC8VUWQgwAAACEAAAATgAAADcAAAClSAAA8Lwu-_kgfwJ2ty77_CB_AgEADwBCsDLM","distance":116.387499,"location":[-80.823056,41.885945],"name":"Eleanor
        Drive"},{"waypoint_index":3,"trips_index":0,"hint":"AjSLiQU0i4kAAAAACAAAAFIAAABMAAAAAAAAAKRnTEE0U8FCZR-LQgAAAAAIAAAAUgAAAEwAAAClSAAAHiAv-1dZfwIeIC_7V1l_AgMADw5CsDLM","distance":0,"location":[-80.797666,41.900375],"name":"Bridge
        Street"},{"waypoint_index":7,"trips_index":0,"hint":"dyyLiZ6D8IAAAAAAVQAAAGcAAAAcAAAAAAAAAJdovULLTuVCCe_5QQAAAABVAAAAZwAAABwAAAClSAAAbfou-wESfwJt-i77ARJ_AgIATw9CsDLM","distance":0,"location":[-80.807315,41.882113],"name":"West
        19th Street"[...]
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.805206,41.890077;-80.797842,41.899429;-80.777652,41.873102;-80.783744,41.900061;-80.804983,41.889221;-80.805316,41.893181?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
