---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=jim%40home.com&description=Jim+Pub+at+%2B13334445555
    headers:
      Authorization:
      - Bearer sk_test_51I95ykL76OlF2WAccwl0HsRTmXYy2PKajyfplcPN6I19Q1GhPa4nHqBfUG0A47UtTfdaWekVZ8PX4ZesPyTI0a7800NBYMOaYi
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_IkcpontamDtlY7",
          "object": "customer",
          "address": null,
          "balance": 0,
          "created": 1610537526,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": "Jim Pub at +13334445555",
          "discount": null,
          "email": "jim@home.com",
          "invoice_prefix": "B4325EC0",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "tax_exempt": "none"
        }
  recorded_at: Wed, 13 Jan 2021 11:32:34 GMT
recorded_with: VCR 6.0.0
