---
http_interactions:
- request:
    method: get
    uri: https://api.weatherbit.io/v2.0/current?country=US&key=6a4dfbb6c3924ce0840963c18682fc8b&postal_code=99549
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '1000'
      X-Ratelimit-Remaining:
      - '983'
      X-Ratelimit-Reset:
      - '1610755199'
      X-Proxy-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"rh":100,"pod":"n","lon":-158.5664,"pres":984.5,"timezone":"America\/Anchorage","ob_time":"2021-01-15
        12:05","country_code":"US","clouds":100,"ts":1610712300,"solar_rad":0,"state_code":"AK","city_name":"Port
        Heiden","wind_spd":1,"wind_cdir_full":"north","wind_cdir":"N","slp":988.1,"vis":2,"h_angle":-90,"sunset":"02:28","dni":0,"dewpt":-3,"snow":5,"uv":0,"precip":0.5,"wind_dir":0,"sunrise":"18:59","ghi":0,"dhi":0,"aqi":18,"lat":56.9643,"weather":{"icon":"s01n","code":600,"description":"Light
        snow"},"datetime":"2021-01-15:12","temp":-3,"station":"PAPH","elev_angle":-51.57,"app_temp":-4.1}],"count":1}

'
  recorded_at: Fri, 15 Jan 2021 12:37:36 GMT
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.824458,41.885948;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"UEV8iVJFfIkMAAAAhAAAAE4AAAA3AAAAbQ8HQaQntkJHtllC8VUWQgwAAACEAAAATgAAADcAAAA5RgAA8Lwu-_kgfwJ2ty77_CB_AgEADwBbihbp","distance":116.387499,"location":[-80.823056,41.885945],"name":"Eleanor
        Drive"},{"waypoint_index":1,"trips_index":0,"hint":"HUN8iaBDfIkoAAAALAAAAAAAAAAAAAAAc9zeQf6e8UEAAAAAAAAAACgAAAAsAAAAAAAAAAAAAAA5RgAAYAQv-1RMfwL6Ay_7Wkx_AgAATwBbihbp","distance":8.493713,"location":[-80.804768,41.897044],"name":"Lake
        Avenue"},{"waypoint_index":4,"trips_index":0,"hint":"L0N8iUdDfIlCAAAAFQAAAAAAAAACAAAAXkFtQtZJkkEAAAAAn87DP0IAAAAVAAAAAAAAAAIAAAA5RgAAjQ4v-9ZQfwLYDi_7jFB_AgAAjw5bihbp","distance":10.311095,"location":[-80.802163,41.898198],"name":"Bridge
     [...]
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.805206,41.890077;-80.783744,41.900061;-80.804983,41.889221;-80.797842,41.899429;-80.777652,41.873102;-80.805316,41.893181;-80.777652,41.8731;-80.797842,41.899429;-80.805316,41.893181;-80.783744,41.900061;-80.804983,41.889221?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inli[...]
