---
http_interactions:
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.824458,41.885948;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"ZtB4iWjQeIkMAAAAhAAAAE4AAAA3AAAAbQ8HQaQntkJHtllC8VUWQgwAAACEAAAATgAAADcAAAC-SAAA8Lwu-_kgfwJ2ty77_CB_AgEADwD-b8T_","distance":116.387499,"location":[-80.823056,41.885945],"name":"Eleanor
        Drive"},{"waypoint_index":1,"trips_index":0,"hint":"NNZ4iaTWeIkoAAAALAAAAAAAAAAAAAAAc9zeQf6e8UEAAAAAAAAAACgAAAAsAAAAAAAAAAAAAAC-SAAAYAQv-1RMfwL6Ay_7Wkx_AgAATwD-b8T_","distance":8.493713,"location":[-80.804768,41.897044],"name":"Lake
        Avenue"},{"waypoint_index":2,"trips_index":0,"hint":"PdZ4iUvWeIlCAAAAFQAAAAAAAAACAAAAXkFtQtZJkkEAAAAAn87DP0IAAAAVAAAAAAAAAAIAAAC-SAAAjQ4v-9ZQfwLYDi_7jFB_AgAAjw7-b8T_","distance":10.311095,"location":[-80.802163,41.898198],"name":"Bridge
     [...]
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.805206,41.890077;-80.805316,41.893181;-80.804983,41.889221;-80.797842,41.899429;-80.783744,41.900061;-80.777652,41.873102?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
    [...]
