---
http_interactions:
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.824458,41.885948;-80.80487,41.89705;-80.802088,41.898124;-80.787492,41.900144;-80.805392,41.858915;-80.799026,41.88268;-80.804862,41.887921;-80.805206,41.890077?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"code":"Ok","waypoints":[{"waypoint_index":0,"trips_index":0,"hint":"_o2miQCOpokMAAAAhAAAAE4AAAA3AAAAbQ8HQaQntkJHtllC8VUWQgwAAACEAAAATgAAADcAAAA4RgAA8Lwu-_kgfwJ2ty77_CB_AgEADwBHfryk","distance":116.387499,"location":[-80.823056,41.885945],"name":"Eleanor
        Drive"},{"waypoint_index":1,"trips_index":0,"hint":"P4umicKLpokoAAAALAAAAAAAAAAAAAAAc9zeQf6e8UEAAAAAAAAAACgAAAAsAAAAAAAAAAAAAAA4RgAAYAQv-1RMfwL6Ay_7Wkx_AgAATwBHfryk","distance":8.493713,"location":[-80.804768,41.897044],"name":"Lake
        Avenue"},{"waypoint_index":2,"trips_index":0,"hint":"UYumiWmLpolCAAAAFQAAAAAAAAACAAAAXkFtQtZJkkEAAAAAn87DP0IAAAAVAAAAAAAAAAIAAAA4RgAAjQ4v-9ZQfwLYDi_7jFB_AgAAjw5Hfryk","distance":10.311095,"location":[-80.802163,41.898198],"name":"Bridge
     [...]
- request:
    method: get
    uri: http://router.project-osrm.org/trip/v1/driving/-80.805206,41.890077;-80.783744,41.900061;-80.804983,41.889221;-80.777652,41.8731;-80.797842,41.899429;-80.805316,41.893181?source=first
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="response.json"
      Content-Type:
      - application/json; charset=UTF-8
    body:
      [...]
