---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/payment_intents
    body:
      encoding: UTF-8
      string: amount=2200&capture_method=automatic&confirmation_method=automatic&confirm=true&currency=usd&customer=cus_Il0otsjoN4ck5r&metadata[service_delivery_id]=298486374&metadata[customer_id]=20549131&payment_method_types[0]=card&payment_method=pm_card_visa&receipt_email=customer%40plowr.com
    headers:
      Authorization:
      - Bearer sk_test_51I95ykL76OlF2WAccwl0HsRTmXYy2PKajyfplcPN6I19Q1GhPa4nHqBfUG0A47UtTfdaWekVZ8PX4ZesPyTI0a7800NBYMOaYi
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "pi_1IB1p8L76OlF2WAcyhMkTuAw",
          "object": "payment_intent",
          "amount": 2200,
          "amount_capturable": 0,
          "amount_received": 2200,
          "application": null,
          "application_fee_amount": null,
          "canceled_at": null,
          "cancellation_reason": null,
          "capture_method": "automatic",
          "charges": {
            "object": "list",
            "data": [
              {
                "id": "ch_1IB1p8L76OlF2WAcszubk3Hi",
                "object": "charge",
                "amount": 2200,
                "amount_captured": 2200,
                "amount_refunded": 0,
                "application": null,
                "application_fee": null,
                "application_fee_amount": null,
                "balance_transaction": "txn_1IB1p9L76OlF2WAcMuqCBEjM",
                "billing_details": {
                  "address": {
                    "city": null,
                    "country": null,
                    "line1": null,
                    "line2": null,
                    "postal_code": null,
                    "state": null
                  },
                  "email": null,
                  "name": null,
                  "phone": null
                },
                "calculated_statement_descriptor": "Stripe",
                "captured": true,
                "created": 1610992050,
                "currency": "usd",
                "customer": "cus_Il0otsjoN4ck5r",
                "description": null,
                "destination": null,
                "dispute": null,
                "disputed": false,
                "failure_code": null,
                "failure_message": null,
                "fraud_details": {
                },
                "invoice": null,
                "livemode": false,
                "metadata": {
                  "service_delivery_id": "298486374",
                  "customer_id": "20549131"
                },
                "on_behalf_of": null,
                "order": null,
                "outcome": {
                  "network_status": "approved_by_network",
                  "reason": null,
                  "risk_level": "normal",
                  "risk_score": 52,
                  "seller_message": "Payment complete.",
                  "type": "authorized"
                },
                "paid": true,
                "payment_intent": "pi_1IB1p8L76OlF2WAcyhMkTuAw",
                "payment_method": "pm_1IB1p8L76OlF2WAclGgVhzha",
                "payment_method_details": {
                  "card": {
                    "brand": "visa",
                    "checks": {
                      "address_line1_check": null,
                      "address_postal_code_check": null,
                      "cvc_check": null
                    },
                    "country": "US",
                    "exp_month": 1,
                    "exp_year": 2022,
                    "fingerprint": "Ii1VEeVORkAldhgU",
                    "funding": "credit",
                    "installments": null,
                    "last4": "4242",
                    "network": "visa",
                    "three_d_secure": null,
                    "wallet": null
                  },
                  "type": "card"
                },
                "receipt_email": "customer@plowr.com",
                "receipt_number": null,
                "receipt_url": "https://pay.stripe.com/receipts/acct_1I95ykL76OlF2WAc/ch_1IB1p8L76OlF2WAcszubk3Hi/rcpt_Imb1vVAVoALqEZx9A9dBJOh7hbvWktq",
                "refunded": false,
                "refunds": {
                  "object": "list",
                  "data": [

                  ],
                  "has_more": false,
                  "total_count": 0,
                  "url": "/v1/charges/ch_1IB1p8L76OlF2WAcszubk3Hi/refunds"
                },
                "review": null,
                "shipping": null,
                "source": null,
                "source_transfer": null,
                "statement_descriptor": null,
                "statement_descriptor_suffix": null,
                "status": "succeeded",
                "transfer_data": null,
                "transfer_group": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/charges?payment_intent=pi_1IB1p8L76OlF2WAcyhMkTuAw"
          },
          "client_secret": "pi_1IB1p8L76OlF2WAcyhMkTuAw_secret_G5VhVaQe2xiBskp1Ealr6YM6T",
          "confirmation_method": "automatic",
          "created": 1610992050,
          "currency": "usd",
          "customer": "cus_Il0otsjoN4ck5r",
          "description": null,
          "invoice": null,
          "last_payment_error": null,
          "livemode": false,
          "metadata": {
            "service_delivery_id": "298486374",
            "customer_id": "20549131"
          },
          "next_action": null,
          "on_behalf_of": null,
          "payment_method": "pm_1IB1p8L76OlF2WAclGgVhzha",
          "payment_method_options": {
            "card": {
              "installments": null,
              "network": null,
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "receipt_email": "customer@plowr.com",
          "review": null,
          "setup_future_usage": null,
          "shipping": null,
          "source": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "succeeded",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Mon, 18 Jan 2021 17:48:13 GMT
recorded_with: VCR 6.0.0
