<p>
  Hello, potential customer.
</p>

<p>
  We have received your request and will contact you with an appointment to confirm
  the estimates of your service.
</p>

<p>
  Thanks for thinking of Plowr.
</p>
